    .large-3 { flex-basis: 25%;}
    .large-3a { flex-basis: 33.3%;}

    #how-it-works {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        ul { margin-left: 2vw;}
        li { width: auto; }
        a { padding: .7rem 1rem;}
    }
    
    #mid-nav {
        margin: 3rem 0 3rem 4rem;
        
        img { width: 250px; }
    }