@media only screen and (min-width: 1024px) {
    
    .large-3 { width: 25%;}
    .large-3a { width: 33.3%;}

    #how-it-works {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}/* End of media query */