@media only screen and (min-width: 768px) {
    
    .medium-5 { width: 30%;}

    .column { float: left; padding: 0 2vh; margin: 0 .75rem 0; }
    nav button { display: none; }
    nav ul { display: block; }
    nav li { width: 25%; float: left;}

} /* End of media query */