@media only screen and (min-width: 768px) {
    
    .medium-6 { width: 50%;}

    #how-it-works {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    nav button { display: none; }
    nav ul { display: block; }
    nav li { width: 25%; float: left;}

} /* End of media query */