/*** TEXT SIZE ADJUST ***/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100;}

/***BOX MODEL***/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

html body { height: 100%; }
body { color: #4a4a4a; font-size: 16px; font-weight: 400; line-height: 1.5;}
a { text-decoration: none; }
h1,h2,h3,h4,h5,h6 { color: var(--main-color); font-weight: 500; line-height: 1.125; }
h2 { font-size: 1.85rem; line-height: 1.75rem;}

:root {
    --main-color: #1a1475;
    --primary-color: #2b8800;
    --secondar-color: #bf2121;
}

.limited {max-width: 900px; margin: auto;}

#nav-center { width: 100%; margin: 0 auto;}
#top-nav { background-color: var(--main-color);}
#top-nav a i { margin: .3rem;}
#top-nav a { color: whitesmoke; font-size: .75rem; font-weight: 400; line-height: 1.25;}
#top-nav a:hover { color: white; text-decoration: underline;}
#mid-nav a {color: var(--main-color); font-size: .875rem; font-weight: 500; line-height: 1.25; text-transform: uppercase; margin: 0.65rem 0.2rem;}
#mid-nav a:hover { color: var(--secondar-color);}
#mid-nav form {width: fit-content; margin: 0 auto;}
#mid-nav form input { width: 200px;}
#mid-nav form button { border: 0; line-height: 1.5; font-size: 1rem; background-color: var(--secondar-color); color: white;}
#mid-nav form button:hover {background-color: #a71717;}


#hero-section {
    height: 350px;
    background: url(/images/hero1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
}


#how-title { text-align: center; font-weight: 400;}

#all-products {
    display: grid;
    grid-auto-rows: auto;
    gap: 1rem;    
}

.products {
    display: flex;
    justify-content: center;
}

.steps span { display: block; margin: 2rem 0 .85rem; font-size: 0.95rem;}
.steps p { font-size: .75rem; padding: 0 1.1rem;}
