/***BOX MODEL***/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

html body { height: 100%; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333; 
    font-weight: 300; 
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI5MCI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI5MCIgZmlsbD0iZ3JleSI+PC9yZWN0Pgo8cmVjdCB4PSIyNSIgd2lkdGg9IjI1IiBoZWlnaHQ9IjkwIiBmaWxsPSIjY2NjIj48L3JlY3Q+Cjwvc3ZnPg==");*/
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
}

:root {
    --main-color: #1a1475;
    --primary-color: #ffffff;
    --dark-white: whitesmoke;
    --secondary-color: #bf2121;
    --tertiary-color: #088fdb;
    --sub-color: #2b8800;
}

a {text-decoration: none; cursor: pointer; color: var(--primary-color);}
a:hover { color: var(--dark-white); text-decoration: underline;}

/* TOP NAVIGATION */
#top-nav {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    margin-top: 50px;
}

#top-nav li{ font-size: 0.75rem; font-weight: 500; padding: .3rem 0;}


/* grid rules */
.limited { max-width: 1200px; margin: auto; }

.row { clear: both; }

.column { float: left;}

.small-12 { width: 100% ;}

/* HEADER SECTION */
header { background-color: var(--primary-color);}

/* NAV SECTION */
nav { background-color: var(--main-color); }
nav ul { margin: 0; padding: 0;}
nav ul li { list-style-type: none; }
nav a {
    display: block;
    padding: .8rem 0;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.25;
    text-transform: uppercase;
}

nav a:hover { text-decoration: none;}
nav li.active { background-color: rgba(0, 0, 0, .5);}
nav li:hover { background-color: rgba(0, 0, 0, .2); }
nav ul.open { display: block; }
nav ul { display: none;}



#mid-nav {
    margin: 2.5rem 0 3rem 2.5rem;
}

button#hamburgerBtn {
    background: none;
    border: none;
    color:var(--primary-color);
    font-size: 2.2rem;
    cursor: pointer;
    padding: 0 20px 0 2vw;
    margin: .75rem .75rem;
}

/* MAIN SECTION */
main { background-color: white;}

#how-it-works { width: 80%; margin: auto; text-align: center;}
#how-it-works img {width: 20%; height: 25%;}
.step h6 { 
    color: var(--tertiary-color);
    font-size: .875rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
.step p {
    font-size: .875rem;
    padding: 0 1rem;
}

#hero-img img, main img {
    width: 100%;
    height: auto;
}

#how-title {
    color: var(--tertiary-color);
    font-style: italic;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 2.5rem 0 1.5rem 0;
}

main h2 {
    color: var(--tertiary-color);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
main h2 span {
    color: var(--main-color);
    font-size: 1rem;
}

.labeled {
    position: relative;
}

.labeled h4, .labeled p {
    position: absolute;
    width: 100;
}
.labeled h4 {
    top: 35%;
    left: 10%;
    right: 10%;
    font-size: 1.3rem;
    background-color: transparent;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.labeled p {
    bottom: 33.3%;
    left: 33.3%;
    right: 33.3%;
    font-weight: 400;
    font-size: .857rem;
    background-color: var(--main-color);
    padding: .5rem .85rem;
    color: white;
    text-align: center;
}

.labeled p:hover {
    background-color: #0c084b;
}

.labeled p a { text-decoration: none;}


/* FOOTER SECTION */
footer {
    background-color: var(--tertiary-color);
    font-size: 1.2rem;
}
footer h3 {
    font-size: .875rem;
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
    font-weight: 500;
    color: var(--dark-white);
}
footer ul li {
    list-style-type: none;
}

footer ul li a {
    font-size: .785rem;
    color: var(--primary-color);
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}